# Ignore build directories (except for test container)
cupti/build
cupti/build-arm64
# cupti/build-amd64 - needed for test container
# zig-out - needed for test container
.zig-cache

# Ignore git
.git
.gitignore

# Ignore test outputs
/tmp

# Ignore IDE files
.vscode
.idea

# Don't ignore CUDA headers prepared for Docker build
!.cuda_headers
