[submodule "vendor/opentelemetry-ebpf-profiler"]
	path = vendor/opentelemetry-ebpf-profiler
	url = https://github.com/parca-dev/opentelemetry-ebpf-profiler.git
[submodule "proton"]
	path = proton
	url = https://github.com/parca-dev/proton.git
